<div>
        <h1 class="col-8 mt-10 text-justify text wow animated slideInUp" data-wow-delay=".15s">
            Hi, I'm Kaiyou.
        </h1>
        <h4 class="col-10 text wow animated slideInUp" data-wow-delay=".15s">
            I'm an experience designer exploring the interspace
        </h4>
        <h4 class="col-10 text wow animated slideInUp" data-wow-delay=".15s">
            between <mark>technology</mark> and <mark>art</mark>
        </h4>
        <div class="card-columns m-3 mt-9">
          <!-- Local Projects -->
          {% for project in site.projects %}

            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}

          {% endfor %}
        </div>
</div>
